* {
    margin: 0;
    padding: 0;
}


/* #FACE7F */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FCF0C8;
    /* background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #911F27;
    padding-top: 20px;
}

h1 {
    color: #FACE7F;
}

nav {
    background-color: #630A10;
    width: 100%;
    padding: 15px;
}

nav>ul {
    display: flex;
    justify-content: center;
    gap: 3em;
}

nav li {
    list-style-type: none;
    color: #FCF0C8;
}

nav li button {
    border: none;
    background-color: inherit;
    color: #FCF0C8;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

footer {
    margin-top: auto;
}

#content {
    width: 80%;
    border: solid 2px #630A10;
    margin: 60px auto;
    min-height: 200px;
    /* max-height: 300px; */
    background-color: #911F2790;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-content {
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 5em;
    align-items: center;
    gap: 3em;
}

.main-text {
    display: flex;
    flex-flow: column;
    /* flex: 1 */
}

.icon img {
    width: 300px;
}


/* Menu */

.menu-stack {
    display: flex;
    flex-flow: row wrap;
    gap: 3em;
    justify-content: space-around;
}

.menu-stack .food-card {
    height: 200px;
    width: 350px;
    border: solid 2px #630A10;
    background-color: #FACE7F;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.food-card p {
    color: #630A10;
    padding: 10px;
}

.sample-img {
    /* width: 80px; */
    background-color: #FCF0C8;
    flex: 1;
}

.bottom-content {
    display: flex;
    justify-content: space-evenly;
}


/* Contacts  */

.contact-box {
    display: flex;
    gap: 30px;
    flex-flow: row wrap;
}

.contact-box>div {
    background-color: #911F27;
    padding: 10px;
    text-align: center;
    flex: 1;
    border: solid 2px #FACE7F;
    color: #FCF0C8;
}

.scheld {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* .contact-box .location {
    flex: 1;
} */

.contact-box li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.map-container {
    background-color: #911F27;
    border: 2px solid #FACE7F;
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 400px;
    background-color: #FACE7F;
    padding: 10px;
}